header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

main {
    background-color: rgb(43, 160, 214);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-screen {
    text-align: center;
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quiz-screen {
    text-align: center;
    background-color: greenyellow;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.answers {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.hide-last {
    text-align: center;
    background-color: orange;
    width: 50%;
    height: 50%;
    display: none;

}

.hide {
    display: none;
}