header{
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide{
    display: none;
}

main{
    background-color: blueviolet;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 50%;
    width: 50%;
    background-color: white;
}